body {
		font: 1em/1.5em Helvetica, Arial, Verdana, sans-serif;
}
a {
	text-decoration: none;
	color: #ccc;
}
a:hover {
	color: pink;
	text-decoration: underline;
}
#container, #container-all, .container, #form-wrapper {
	width: 80%;
	max-width: 600px;
	margin: 20px auto;
	padding: 30px 30px 40px;
	border: 1px solid rgb(230,230,230);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}
.all .container {
	border: none;
	background: none;
	border-radius: 0;
	border-bottom: 1px dotted #ccc;
}
#word, .word {
	font-size: 1.7em;
	font-weight: bold;
}
#part, .part {
	font-size: 0.75em;
	color: #ababab;
}
#definitions, .definitions {
	list-style-type: square;
	margin-top: 10px;
	margin-left: 20px;
}
#menu {
	width: 100%;
	padding: 5px 0px 50px;
	list-style-type: none;
}
#menu li {
	float: left;
	width: 20%;
	text-align: center;
	padding: 3px 0px;
}
#menu li:last-child {
}
.examples ul {
	list-style-type: none;
	font-size: 0.8em;
	color: #a0a0a0;
	font-style: italic;
}


.on {
	display: block;
}
.off {
	display: none;
}


/* form */
#form-wrapper {
	font-size: 0.8em;	
	text-align: center;
	display: none;
	z-index: 1;
}
#form-wrapper form {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}
#form-wrapper p:first-child,
#form-wrapper p:last-child {
	text-align: right;
}
#form-wrapper label {
	display: block;
	text-align: left;
}
#form-wrapper label span {
	font-size: 0.5em;
}
#form-wrapper textarea {
	width: 98.5%;
	height: 100px;
}
#form-wrapper input[type="submit"] {
	padding: 5px 7px;
}
/* /form */
