body {
		font: 1em/1.5em Helvetica, Arial, Verdana, sans-serif;
}
a {
	text-decoration: none;
	color: #ccc;
}
a:hover {
	color: pink;
	text-decoration: underline;
}
#container, #container-all, .container {
	width: 80%;
	max-width: 600px;
	margin: 20px auto;
	padding: 30px 30px 40px;
	border: 1px solid rgb(230,230,230);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}
.all .container {
	border: none;
	background: none;
	border-radius: 0;
	border-bottom: 1px dotted #ccc;
}
#word, .word {
	font-size: 1.7em;
	font-weight: bold;
}
#part, .part {
	font-size: 0.75em;
	color: #ababab;
}
#definitions, .definitions {
	list-style-type: square;
	margin-top: 10px;
	margin-left: 20px;
}
#menu {
	width: 100%;
	padding: 5px 0px 50px;
	list-style-type: none;
}
#menu li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 3px 0px;
}
#menu li:last-child {
}
.examples ul {
	list-style-type: none;
	font-size: 0.8em;
	color: #a0a0a0;
	font-style: italic;
}


.on {
	display: block;
}
.off {
	display: none;
}
